@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

.font-worksans {
    font-family: 'Work Sans', sans-serif;
}

.cart-items li, .expens h4 {
    font-size: 18px;
    font-weight: 500;
}

.expens h4 span {
    color: #11111180;
}


/* code for responsiveness */
@media screen and (max-width: 767px) {
    .hero-text-content {
        order: 3;
    }
    .hero-media-content {
        order: 1;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero-text-content {
        order: 3;
    }
    .hero-media-content {
        order: 1;
    }
}